// primary colors
$black: #17100E;
$white: #FFFFFF;

// secondary colors
$silver: #AFAFAF;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

// Typography
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Breakpoints
$tablet-width: 760px;
$desktop-width: 1200px;