*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  /* outline: 1px dashed grey; */
}

body {
  box-sizing: inherit;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.header {
  background-image: url(../assets/images/hero-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  color: #FFFFFF;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}
.nav__container-links, .nav__container-actions {
  cursor: pointer;
}
@media (min-width: 1200px) {
  .nav__container-links, .nav__container-actions {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    padding: 5px 10px;
  }
}
.nav__icon img {
  width: 40px;
  height: 40px;
  border: 3px solid #FFFFFF;
  border-radius: 8px;
}
@media (min-width: 1200px) {
  .nav__icon--hidden {
    display: none;
  }
}
.nav__list {
  display: none;
}
@media (min-width: 1200px) {
  .nav__list {
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }
}
@media (min-width: 1200px) {
  .nav__link {
    color: #17100E;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 10px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
  }
  .nav__link:hover {
    background-color: #E1E1E1;
  }
  .nav__link--button {
    background-color: #17100E;
    color: #FFFFFF;
  }
  .nav__link--button:hover {
    background-color: #17100E;
    transform: translate(5px, -5px);
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2rem 1rem;
}
.hero__text-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  padding: 0 7rem;
}
.hero__text-container .hero__title {
  font-size: 2.7rem;
  margin-bottom: 1rem;
  margin-top: 4rem;
}
.hero__text-container .hero__description {
  font-size: 1.2rem;
}
.hero__button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  align-items: stretch;
}
@media (min-width: 760px) {
  .hero__button-container {
    flex-direction: row;
    align-self: center;
    width: 50%;
  }
}
.hero__button-container .button {
  width: 100%;
  padding: 0.875rem 1.5rem;
  border-radius: 7px;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}
@media (min-width: 760px) {
  .hero__button-container .button {
    padding: 0.5rem 0.5rem;
  }
}
.hero__button-container .button--outline {
  border: 2px solid #FFFFFF;
  background: transparent;
}
.hero__button-container .button--outline:hover {
  background-color: #FFFFFF;
  color: #17100E;
}
.hero__button-container .button--primary {
  background-color: #17100E;
  position: relative;
}
.hero__button-container .button--primary:hover {
  transform: translate(5px, -5px);
}

.product {
  padding: 2rem 1rem;
}
.product .card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
@media (min-width: 760px) {
  .product .card-container {
    flex-direction: row;
  }
}
.product .card-container .card {
  background-color: rgb(73, 51, 51);
  opacity: 88%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.1px solid #AFAFAF;
  position: relative;
}
.product .card-container .card:hover {
  opacity: 98%;
  cursor: pointer;
}
.product .card-container .card__content {
  padding: 24px 24px 35px 24px;
}
.product .card-container .card__content .card__title {
  font-size: 1rem;
  font-weight: bold;
}
.product .card-container .card__content .card__description {
  font-size: 1.375rem;
  font-family: LLIvory;
  margin-bottom: 1rem;
  padding: 0 2rem;
}
.product .card-container .card__content .card__header {
  margin-bottom: 2rem;
}
@media (min-width: 760px) {
  .product .card-container .card__content .card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.product .card-container .card__content .card__link {
  font-size: 0.875rem;
  font-weight: bold;
  color: #E1E1E1;
  text-decoration: none;
  position: relative;
}
.product .card-container .card__content .card__link::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 0 3px 5px;
  border-color: transparent transparent transparent #E1E1E1;
}
.product .card-container .card__content .card__link--upper {
  display: none;
}
@media (min-width: 760px) {
  .product .card-container .card__content .card__link--upper {
    display: flex;
  }
  .product .card-container .card__content .card__link--lower {
    display: none;
  }
}
.product .card-container .card__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */